html,
body,
canvas {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

canvas {
	width: 100vw;
	height: 100vh;

}

.loading {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
	align-items: center;
	justify-content: center;
	color: white;
	font-family: 'Courier New', Courier, monospace;
	font-size: large;
}